body, html {
	margin: 0;
	overflow: hidden;
	font-family: 'Open Sans', sans-serif;

	&::before {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-image: url("../img/logo.jpg");
		background-size: cover;
		z-index: -1;
		background-repeat: no-repeat;
	}

}

.link {
	font-size: 30px;
	padding: 30px;
}
.wrapper {
	width: 100vw;
	height: 100vh;

}

.container {
	width: 100%;
	height: 100%;

	overflow: hidden;
	font-size: 20px;
	color: white;
	column-count: 2;
	padding-bottom: 20px;
}

.spacer {
	height: 5%;
}

.product {
	display: flex;
	flex-direction: row;
	height: 19%;
	overflow: hidden;
	padding: 10px;
	font-size: 18px;
	font-weight: 600;
	line-height: 22px;
	justify-content: space-between;
	box-sizing: border-box;
	padding-right: 30px;

	p {
		margin: 0;
	}

	&__column {
		&--desc {
			flex-grow: 1;
			display: flex;
			flex-direction: column;
			justify-content: center;
		}

		&--price {
			display: flex;
			flex-direction: row;
			align-items: center;
			width: 150px;
			justify-content: space-between;
			position: relative;
		}
	}

	&__logo {
		height: 100%;
		width: auto;
		border-radius: 50%;
		object-fit: contain;
		margin-right: 10px;
		border: 1px solid #fff;
	}

	&__brand {
		font-weight: 800;
		font-size: 30px;
		line-height: 32px;
		text-transform: uppercase;

	}

	&__name {
		font-weight: 600;
		font-size: 26px;
		line-height: 30px;
	}

	&__details {
	}

	&__location {
		text-transform: uppercase;
	}

	&__price {
		width: 42px;
		text-align: center;
		font-weight: 600;
		font-size: 22px;

	}


	&:nth-child(1) .product__column--price::after,
	&:nth-child(6) .product__column--price::after {
		content: ""; /* Add content to the ::after pseudo-element */
		display: block;
		height: 120px;
		background-image: url('	../img/botl2.png');
		background-repeat: no-repeat;
		background-size: contain;
		position: absolute;
		top: -40px;
		left: 0;
		width: 120px;
		padding: 0 15px;
	}
}

//.icons {
//	position: absolute;
//
//	width: 150px;
//	display: flex;
//	justify-content: space-between;
//
//	img {
//		padding: 10px;
//	}
//	&--1{
//		right: 50%;
//	}
//	&--2{
//		right: 0%;
//	}
//}