<div class="product">
    {{ $brand := printf "../brands/%s" .Params.brand }}
    <div class="product__column">
        {{ with .GetPage $brand }}
        <img class="product__logo" src="{{ .Params.image }}">
        {{ end }}
    </div>

    <div class="product__column product__column--desc">
        <div class="product__brand">brand:

            {{ with .GetPage $brand }}
            {{ .Title }}
            {{ end }}
        </div>
        <div class="product__name">title: {{ .Title }}</div>
        <div class="product__description">{{ .Description }}</div>
    </div>
    <div class="product__column product__column--price">
        <div class="product__price product__price--03">03</div>
        |
        <div class="product__price product__price--05">05</div>
        |
        <div class="product__price product__price--10">10</div>
    </div>
</div>