<div class="product">
    <div class="product__column">
        <img class="product__logo" src="{{ .Params.image }}">

    </div>

    <div class="product__column product__column--desc">
        <div class="product__brand">
            {{ .Params.Title }}
        </div>
        <div class="product__name">{{ .Params.Title }}</div>
        <div class="product__description">{{ .Params.Description }}</div>
        <div class="product__details">{{ .Params.details }}</div>
        <div class="product__location">{{ .Params.location }}</div>
    </div>
    <div class="product__column product__column--price">
        <div class="product__price product__price--03">{{ .Params.price03 }}</div>
        |
        <div class="product__price product__price--05">{{ .Params.price05 }}</div>
        |
        <div class="product__price product__price--10">{{ .Params.price10 }}</div>
    </div>
</div>