{{ define "main" }}

<div class="container">
<!--        <div class="icons icons&#45;&#45;1">-->
<!--                <img src="img/favicon-16x16.png" alt="">-->
<!--                <img src="img/favicon-16x16.png" alt="">-->
<!--                <img src="img/favicon-16x16.png" alt="">-->
<!--        </div>-->
<!--        <div class="icons icons&#45;&#45;2">-->
<!--                <img src="img/favicon-16x16.png" alt="">-->
<!--                <img src="img/favicon-16x16.png" alt="">-->
<!--                <img src="img/favicon-16x16.png" alt="">-->
<!--        </div>-->
    {{ range .Pages.ByPublishDate.Reverse }}
    {{ .Render "li"}}
    {{ end }}
</div>

{{end}}
